body {
  background-color: #FFFFFF;
}
h1 {
    margin: 0;
    color: #CE2F2B;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h2 {
  margin: 0;
  color: #CE2F2B;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  text-decoration-thickness: 3px;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
